.gallery-links ul {
    list-style: none;
}

.gallery-links ul:after {
    content: "";
    display: table;

  }

.gallery-links ul li{
    width: 100%;
    float: left;
    position: relative;
}
.gallery-links ul li img{
    display: block;
    width: 100%;
    transition: .5s ease-in-out;
}

.gallery-links ul li:nth-child(1):hover img {
    -webkit-filter: blur(1px);
    filter: blur(1px);
}

span {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    font-size: 22px;
    letter-spacing: 3px;
    line-height: 24px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 6px #9a9a9a;
}


@media (max-width:480px) {
    .gallery-links ul li {
      width: 100%;
      float: none;
    }
}


header .header-banner {
    background-image: url("img/header.jpeg");
    width: 100%;
    height: calc(100vh - 400px);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: table;
}

header .logo{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 10px 0 20px 0;
}

header h1{
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 5px;
    color:#b66b77;
    text-transform: uppercase;  
}

header h2{
    font-family: 'Gentium Basic', serif;
    font-weight: normal ;
    font-style: normal;
    font-size: 50px;
    color:#b66b77 ;
    line-height: 40px;
    text-transform: uppercase;
    text-shadow: 2px 2px 6px #9a9a9a;
    text-align: center;
}
header h3{
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 5px;
    color: #b66b77;
    text-transform: uppercase;
    text-shadow: 2px 2px 6px #9a9a9a;
    text-align: center;
    font-style: italic;
}
hr {
    color: #4f5663;
    border-width: 2px;
    width: 43%;
    margin: 0 auto;
    margin-bottom: 5px;
}

nav ul li a {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 17px;
    letter-spacing: 3px;
    color: #172029;
    text-transform: uppercase;
    text-decoration: none;
}

header nav ul {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: fit-content;
    
}

header nav ul li {
    display: inline-block;
    padding: 16px 16px;  
}

.column {
    margin-right: 50px;
}



.meist2 {
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    font-size: 17px;
    letter-spacing: 1px;
    color: #172029;
    text-decoration: none;
    padding-left: 35px;
    padding-right: 10px;
}
.meist{
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
    letter-spacing: 1px;
    color: black;
    text-transform: none;
    text-decoration: none;
    font-weight: 300;
    padding-left: 35px;



}
/*     float: left;
    width: 50%;
    margin-right: 20px;
*/


.gallery-image img {
    width:100%;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    filter: brightness(50%);
}



.gallery-image {
    border-radius: 50%;
    margin: 25px;
    position: relative;
    text-align: center;
    -webkit-flex-basis: 300px;
    -moz-flex-basis: 300px;
    flex-basis: 300px;

    
} 

.post-header {
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    font-size: 22px;
    letter-spacing: 3px;
    line-height: 24px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 6px #9a9a9a; 

}
.gallery-links {
    display: flex;
    flex-flow: row wrap;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    display: -moz-flex;
    -moz-flex-flow: row wrap;
    justify-content: center;
    -o-flex-flow: row wrap;
    justify-content: center;
    margin-top: 130px;
}

footer {
    width: calc(100% - 80px);
    padding: 40px 40px;
    background-color: #4e2533;
    margin-top: 20px;
    overflow: hidden;
}


.mail {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

footer .footer-info {
    font-family: "Open Sans", sans-serif;
    color: #ffffff;
    width: fit-content;
    float: left;
    padding-left: 0px;
    display: block;
    padding: 0 0 10px 0;
    font-weight: 100;
    font-size: 13px;
    letter-spacing: 2px;
    text-transform: none;

}

.footer-sm {
    width: 32px;
    float: right;
}
.footer-sm img {
    width: 100%;
    margin-bottom: 10px;    
}


@media only screen and (min-width: 950px) {
    .shaped {
        background-image: url("img/header22.png");
        float: right; 
        width: 330px;
        height: 240px;
        margin-top: 10px;
        margin-left: 75px;
        margin-right: 35px;
        background-repeat: no-repeat;
        background-size: cover;

    }
   .shaped img{
        width:100%;
        height:auto;
        
    }

}
